// Colours

// Primary
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$primary-1: $dark-violet;
$primary-2: $grayish-blue; 

// Neutral
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);
$neutral-1: $very-dark-violet;
$neutral-2: $dark-grayish-violet;
$neutral-3: $very-light-gray;

// Typography

$base-text: 16px;
$font-weights: (
  'regular': 400,
  'bold': 700
);

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name)
}; 