@use '../scss' as *;
// @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;500;600;700&display=swap');

body {
  font-family: 'Karla', sans-serif;
  font-size: $base-text;
  background: $neutral-3;
}

button {
  font-family: 'Karla', sans-serif;
  background: transparent;
  color: $neutral-3;
  border: 0.1em solid $neutral-3;
  padding: 0.7em 2.1em;
  letter-spacing: 0.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
}

header {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // margin: 1.5em;
  position: relative;

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .mobile-head {
    // display: flex;
    // align-items: center ;
    padding: 1.25em 1.5em;
  }

  .logo {
    display: inline-block;
    padding-top: 0.5em;
    // position: relative;
    // top: 0.5em;
  }
  .nav-menu-icon {
    // display: inline;
    float: right;
    cursor: pointer;
    // background-color: blue;
  }

  nav {
    display: none;
    // height: 37em;
    width: 100%;
    position: absolute;
    background: $neutral-1 url(../images/bg-pattern-mobile-nav.svg) bottom no-repeat;
    z-index: 1;
    background-size: 100%;
    padding: 3em 1.75em;
    // transition: 0.7s;
  
    ul {
      text-align: center;
      font-size: 1.35rem;
      font-weight: weight('medium');
      letter-spacing: 0.08em;
    }
  
    li {
      margin-bottom: 2em;
      padding: 0.7em 0;
    }
  
    a, a:visited {
      color: $neutral-3;
    }
  
    .active {
      border: 0.07em solid $neutral-3;
    }
  }

  .nav-open {
    display: block;
  }
}

.intro {
  line-height: 0;

  .hero-img-mobile {
    width: 100%;
    height: 28em;
    object-fit: cover;
  }

  .hero-img-desktop {
    display: none;
  }

  .plans {
    min-height: 30em;
    position: relative;
    background: $primary-1;
    background-image: url(../images/bg-pattern-intro-left-mobile.svg);
    background-position: left top;
    background-repeat: no-repeat;
    color: $neutral-3;
    padding: 5em 1.4em 4em 1.4em;
    text-align: center;
  }

  hr {
    display: none;
    border: 0.01em solid $neutral-3;
    // border-width: 1em;
  }

  h1 {
    font-size: 2.8rem;
    font-weight: weight('regular');
    line-height: 1;
  }

  p {
    margin: 1.5em 0;
    line-height: 1.7;
  }

  .plans::after {
    content: '';
    background: url(../images/bg-pattern-intro-right-mobile.svg) no-repeat right 20.8em;
    position: absolute;
    width: 100%;
    height: 42em;
    top: 0;
    right: 0;
  }
}

.pitch {
  margin-top: 8em;
  padding: 0 1.5em;

  hr {
    width: 41%;
    border: 0.01em solid $neutral-2;
  }

  h2 {
    font-size: 3rem;
    font-weight: weight('regular');
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 1.3em;
  }

  h4, h2 {
    color: $neutral-1;
  }

  h4 {
    font-size: 1.7rem;
    font-weight: weight('regular');
    margin-top: 1em;
    margin-bottom: 0.7em;
  }

  .selling-point {
    margin-top: 3.5em;
    text-align: center;
  }

  p {
    color: $neutral-2;
    line-height: 1.6;
  }

  .how-we-work {
    display: flex;
    flex-direction: column;align-items: center;
    background: $primary-1 url(../images/bg-pattern-how-we-work-mobile.svg) right -3em no-repeat;
    color: $neutral-3;
    min-height: 18em;
    margin-top: 8em;
    padding: 3.5em 2em;
  }

  h3 {
    font-size: 2.25rem;
    font-weight: weight('regular');
    text-align: center;
    line-height: 1;
    margin-bottom: auto;
  }
}

footer {
  text-align: center;
  margin-top: 12em;
  padding: 1em 1.35em;

  .social-links {
    margin-top: 1.65em;
    margin-bottom: 2.25em;

    li {
      padding: 0.1em 0.35em;
      display: inline-block;
    }
  }

  hr {
    border: 0.01em solid hsla(276, 4%, 51%, 0.47);
  }

  .site-map {
    font-size: 0.85rem;
    margin-top: 2.5em;
    letter-spacing: 0.09em;
    font-weight: weight('semi-bold');

    h5 {
      font-family: 'Karla', sans-serif;
      font-weight: weight('semi-bold');
      color: $neutral-2;
      margin: 1em 0;
      margin: 2.5em 0;
    }

    a, a:visited {
      color: $neutral-1;
    }

    li {
      margin-bottom: 0.95em;
    }
  }
}

@media (min-width: 900px) {

  header {
    position: static;
    display: flex;
    justify-content: space-between;

    .mobile-head {
      padding: 0;
    }

    .nav-menu-icon {
      display: none;
    }

    nav {
      display: block;
      width: auto;
      position: static;
      background: none;
      padding: 0;

      ul {
        font-size: 0.8rem;
        letter-spacing: 0.05em;
      }

      li {
        margin-left: 1.75em;
        margin-bottom: 0;
        padding: 0;
        display: inline-block;  
      }

      a, a:visited {
        color: $neutral-2;
      }
    }
  }

  .intro {
    .plans {
      background-image: url(../images/bg-pattern-intro-right-desktop.svg);
      background-position: right top;
      background-repeat: no-repeat;
      background-size: 19em;
    }

    .plans::after {
      background: url(../images/bg-pattern-intro-left-desktop.svg) no-repeat left;
      background-size: 10em;
      top: 13em;
    }

    .hero-img-mobile {
      display: none;
    }

    hr {
      width: 25%;
      display: block;
    }

    h1 {
      font-size: 3.4rem;
    }

    .hero-img-desktop {
      display: block;
    }
  }
}

